@use "../settings/fonts";
@use "../utils/fonts" as f;
@use "../visuals/colors" as c;

.suggestions {
    background: c.$colorWhite;
    padding: 1rem;
    border-radius: 8px;
}

.suggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;

    &__avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: c.$colorWhite;
    }
}

