@use "../../settings/fonts";
@use "../../utils/fonts" as f;
@use "../../visuals/colors" as c;

.top {
    &-nav {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    &-nav a {
        text-decoration: none;
        color: c.$colorBlack;
        @include f.Poppins-Regular;
    }
}



